<!-- Navigation -->
<nav class="navbar navbar-toggleable navbar-expand-lg fixed-top navbar-light bg-light" id="mainNav">
  <a class="navbar-brand js-scroll-trigger" href="/">
    <img src="img/logo.png" width="50px" class="d-inline-block" alt="solon logo"> Solon
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3" href="/policy">Policy</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3" href="/budget">Budget</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="nav-link py-3 px-0 px-lg-3" href="/forum">Forum</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="active nav-link py-3 px-0 px-lg-3" href="/clubs">Clubs</a>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <a class="my-2 px-3 btn btn-outline-primary" href="/users/logout">Log Out</a>
      </li>
    </ul>
  </div>
</nav>

<!--Existing Clubs-->
<div class="container py-5 mt-5">
  <h1 class="text-center display-4 pb-3">Clubs</h1>
  <% if(clubs.length == 0) { %>
  <p class="lead text-center">There are no clubs to display</p>
  <% } %>
  <% for(let i = 0; i < clubs.length; i++) { %>
  <div class="card my-3">
    <div class="card-header">
      <h3 class="card-title"><%= clubs[i].name %></h3>
      <h5 class="card-subtitle text-muted mb-2">President: <%= clubs[i].president %></h5>
      <h5 class="card-subtitle text-muted mb-2">Co-President: <%= clubs[i].copresident %></h5>
      <h5 class="card-subtitle text-muted mb-2">Faculty Advisor: <%= clubs[i].faculty %></h5>
      <p class=card-text>Date Created: <%= clubs[i].date %></p>
    </div>
    <div class="card-body">
      <p class="card-text"><%= clubs[i].description %></p>
    </div>
    <div class="card-footer text-center">
      <form action="clubs/joinclub" class="md-form" method="POST">
        <input type="submit" class="btn btn-outline-primary" value="Request to Join Club" />
      </form>
    </div>
  </div>
  <% } %>
</div>
<!--End of Existing Clubs-->

<!--New Clubs Form-->
<div class="modal fade" id="newpost" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100">Propose a New Club</h4>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button> -->
      </div>
      <div class="modal-body mx-3">
        <form action="clubs/addclub" class="md-form mb-3" method="POST">
          <div class="md-form mb-3">
            <label for="title">Club Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name of Club" />
          </div>
          <div class="md-form mb-3">
            <label for="title">President</label>
            <input type="text" id="president" name="president" class="form-control"
              placeholder="Enter President of Club" />
          </div>
          <div class="md-form mb-3">
            <label for="title">Co-President</label>
            <input type="text" id="copresident" name="copresident" class="form-control"
              placeholder="Enter Co-President of Club" />
          </div>
          <div class="md-form mb-3">
            <label for="title">Faculty Advisor</label>
            <input type="text" id="faculty" name="faculty" class="form-control"
              placeholder="Enter Faculty Advisor of Club" />
          </div>
          <div class="md-form mb-3">
            <label for="body">Description</label>
            <textarea name="description" class="form-control md-textarea" style="height:250px"
              placeholder="Enter Description of Club"></textarea>
          </div>
      </div>
      <div class=" modal-footer d-flex justify-content-center">
        <input type="submit" class="btn btn-outline-primary" value="Propose Club" />
        <button class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
      </div>
      </form>
    </div>
  </div>
</div>
<!--End of New Club Form-->

<!--New Club Button-->
<div class="fixed-bottom">
  <div class="float-right">
    <a href="#" data-toggle="modal" data-target="#newpost" style="color:white;">
      <button type="button" class="btn btn-primary btn-lg" style="border-radius:100%; margin:20px 20px;">
        +
      </button>
    </a>
  </div>
</div>
<!--End of New Club Button-->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
<script>
  $('.modal').on('hidden.bs.modal', function () {
    $(this).find('form')[0].reset();
  });
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>